.footer {
    text-align: center;
    font-family: "Roboto Condensed", serif;
    font-weight: 300;
    font-size: 0.6rem;
    background-color: #2d3436;
    background-image: linear-gradient(to right, #2d3436, #000000, #2d3436);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
